body {
  background: papayawhip;
}
body {
  background: papayawhip;
}
body{
  background-color: maroon;
}

* {
  border: 2px solid black
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  border-color: white;
  border-style: double;
  background-color: rgb(203, 142, 27);
  font-size: 1em;
  justify-content: center;
  text-align: center;
}

.noodle{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 2;
  background-color: bisque;
  border-style: solid;
  border-color: aquamarine;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  min-height: 80vh;
}

aside, .noodle{
  flex-grow: 1;
  margin: 1em;
  max-height: 10vh;
  background-color: bisque;
}

aside {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: beige;
  min-height: 15vh;
}

aside > div{
  flex-grow: 10;
  margin: 1em;
  background-color: azure;
}

main{
  width: 100%;
  flex-grow: 3;
  margin: 1em;
}

footer{
  background-color: rgb(180, 144, 214);
  font-size: 2em;
  flex-grow: 2;
  margin: 1em;
  max-height: 10vh;
  border-style: solid;
  border-color: grey;
}

header{
  font-size: 2em;
  background-color: azure;
  flex-grow: 1;
  margin: 1em;
  max-height: 10vh;
  border-style: solid;
  border-color: gray;
}
@media (min-width: 500px) {
.container {
  flex-direction: row;
  flex-wrap: wrap;
}
header{
  width: 100%;
  max-height: 15vh;
}
.noodle{
  justify-content: stretch;
  flex-basis: 70%;
  min-height: 80vh;
}
footer{
  margin: 4em;
  min-height: 80vh;
  flex-grow: 3;
}
}